#!/usr/bin/env ruby
#
# The <%= tpc %> cgi page

require 'xmlrpc/client'

print "Content-Type: text/html\r\n"
print "\r\n"
puts '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"> '
puts "<html>"
url="http://<%= remote_host %>:8080"
puts XMLRPC::Client.new2(url).call("x10.remote.<%= tp %>", 'A1' )
puts "<body>"
puts "<img src='/x10/<%= tp %>.png' alt='Lights <%= tpc %> '>"
puts "</body>"
puts "</html>"
